body{
    background-color: #BFEAF5;
}
h2,h3{
    color: #00425A;
}
hr{
    border-style: dotted;
    color:#473C33;
    width:20%;
    border-top:30px;
    border-width:5px;
    margin: 10px;
}
a{
    color:black;   
}
a:hover{
    color:#F48484;
}
.textarea
{
    background-color:#FFF6C3;
    border-radius: 5px;
    border-width: 2px;
    border-color: #1C315E;
}
.design{
    height:80px;
    width:80px;
    border:SOLID 3px ;
}
.design:hover{
    height: 150px;
    width: 150px;
}
